#application {
  overflow: "hidden";
}

#gallery-scroll {
  background: #353535;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#gallery-scroll::-webkit-scrollbar {
  display: none;
}

.image-shade,
#gallery-scroll .image-shade {
  background: #303030;
}

#gallery-scroll .image-shade:hover {
  background: #202020;
}

#image-pane {
  background: #353535;
}

#map-pane {
  background: #454545;
}

.fill-height {
  height: 100vh;
}

.img-container {
  min-height: 600px;
  height: 600px !important;
}

.custom-select {
  background: #353535 !important;
  color: #dedede !important;
}

.loading-spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.loading-spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #954545 transparent #454545 transparent;
  animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#image-pane .loading-spinner {
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 50px;
}
