#application {
  overflow: "hidden";
}

#gallery-scroll {
  background: #353535;
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#gallery-scroll::-webkit-scrollbar {
  display: none;
}

.image-shade,
#gallery-scroll .image-shade {
  background: #303030;
}

#gallery-scroll .image-shade:hover {
  background: #202020;
}

#image-pane {
  background: #353535;
}

#map-pane {
  background: #454545;
}

.fill-height {
  height: 100vh;
}

.img-container {
  min-height: 600px;
  height: 600px !important;
}

.custom-select {
  background: #353535 !important;
  color: #dedede !important;
}

.missing-geolocation {
  background: #900000;
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-top: 4px;
  transform: rotate(45deg);
  position: absolute;
}
